@import 'src/global-styles/theme_variables';
@import 'src/global-styles/z-indexes';

.spinner {
  &__backdrop {
    position: absolute;
    width: 100vh;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    z-index: $z-index-5;
  }
  
  &__spinner {
    position: absolute;
    top:40%;
    left: 50%;
    z-index: $z-index-4;  
  }
}