@import 'src/global-styles/theme_variables';
@import 'src/global-styles/z-indexes';

.spinner {
  &__backdrop {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    z-index: 7;
    background-color: red;
    width: 100vh;
    height: 100vh;
  }
  
  &__spinner {
    position: absolute;
    top: 40%;
    left: 45%;
    z-index: $z-index-4;  
  }
}